{% extends 'base.html' %}

{% load static %}
{% block title %}GIAI CUU NONG SAN{% endblock title %}
{% block content %}
    <div class="black-title"></div>
	<div class="fruit-title">
		<h2>Giải cứu nông sản: Bước đi quan trọng hướng tới zero waste, zero hunger</h2>
		<h5>Việt Nam là một nước nông nghiệp, với diện tích đất nông nghiệp rộng lớn và nhiều loại nông sản phong phú. Tuy nhiên, tình trạng "được mùa rớt giá" của nông sản Việt Nam vẫn diễn ra hằng năm gây ra hậu quả nghiêm trọng không chỉ là về đời sống của người nông dân mà còn mang đến tác động tiêu cực đến môi trường xung quanh. Thế nên để có thể khắc phục tình trạng này, chúng tôi đã tổng hợp tất cả thông tin của những nhà vườn đang cần bán nông sản thông qua hợp tác xã.</h5>
	</div>
	<div class="black-title"></div>
	<div class="chua-2cai-fruit">
		<div class="sp-1">
			<div class="img-fruit">
				<title> Cam sành Vĩnh Long</title>
                <img src="{% static 'images/camsanh.jpg' %}">
				<h5>Giá:<span>13.000 đồng/ kg</span></h5>
			</div>
			<div class="img-fruit-2">
				<title>  Dưa hấu Quảng Ngãi</title>
                <img src="{% static 'images/watermelon.jpg' %}">
				<h5>Giá:<span>10.000 đồng/kg</span></h5>
			</div>
	</div>
	<div class="black-title"></div>
		<div class="sp-2">
			<div class="img-fruit">
				<title> Na Đông Triều Quảng Ninh</title>
			    <img src="{% static 'images/na.jpg' %}">
				<h5>Giá:<span>20.000 đồng/kg</span></h5>
			</div>
			<div class="img-fruit-2">
				<title> Bí đỏ Quảng Nam</title>
			    <img src="{% static 'images/bido.jpg' %}">
				<h5>Giá:<span>6.000 đồng/kg</span></h5>
			</div>
		</div>
	</div>
{% endblock content %}