<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}


{% block title %}REGISTER{% endblock title %}
{% block content %}
    	<div class="form-login">
            <form method="POST" action="" class="contain-form-login">
                <div class="title-login">
                    <h2>LOG IN</h2>
                </div>
                <div class="chua-2cai-fillin">
                    <label>Email<span style="color: red">*</span></label>
                    <!-- <input href="/email"> -->
                    <input type="text" name="email" id="email" placeholder="email">
                </div>
                <div class="chua-2cai-fillin">
                    <label style="margin-top: 35px">Password<span style="color: red">*</span></label>
                    <!-- <input href="/password"> -->
                    <input type="password" name="password" id="password" placeholder="password">
                    {% csrf_token %}
                </div>
                <div class="contain-button-login">
                        <button type="submit" >Log In</button>
                        <div>
                            <a class="lang" href="#">Forgot password?</a>
                            <span class="lang" >or</span><br><a href ="{% url 'register' %}" class="lang" title="register">REGISTER</a>
                        </div>
                </div>
            </form>

	</div>
{% endblock content %}