<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}


{% block title %}REGISTER{% endblock title %}
{% block content %}
    	<form class="form-register" method="POST" action="">
            <div class="contain-form-register">
                <div class="title-register">
                    <h2>REGISTER</h2>
                </div>
                <div class="chua-2cai-fillin">
                    <input type="text" name="lname" id="lname-input" placeholder="LAST NAME">
                </div>
                <div class="chua-2cai-fillin">
                    <input type="text" name="fname" id="fname-input" placeholder="FIRST NAME">
                </div>
                <div id="gendr">
                    <input id="radio1" type="radio" value="0" name="customer[gender]">
                    <label for="radio1">
                        <span class="lang">Male</span>
                    </label>
                    <input id="radio2" type="radio" value="1" name="customer[gender]">
                    <label for="radio2">
                        <span class="lang">Female</span>
                    </label>
                </div>
                <div class="chua-2cai-fillin">
                    <input type="text" name="birthday" id="birthday-input" placeholder="mm/dd/year">
                </div>
                <div class="chua-2cai-fillin">
                    <input type="text" name="email" id="email-input" placeholder="email">
                </div>
                <div class="chua-2cai-fillin">
                    <input type="password" name="password" id="password-input" placeholder="password">
                    {% csrf_token %}
                </div>
                <div class="contain-button-register">
{#                        {% csrf_token %}#}
{#                        {{form.as_p}}#}
                        <button type="submit">REGISTER</button>
                </div>
            </div>
            <i class="fas fa-arrow-left" style="color: #000000;"></i><span>Back to Home </span>
	    </form>
{% endblock content %}