{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static '/styles/index.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="{% static "/js/index.js" %}"></script>
	<link rel="stylesheet" href="{% static 'styles/all.min.css' %}"/>
	<script defer src="{% static 'js/all.js' %}"></script>




</head>
<body>
    <div class="main-body" style="background-image: url('{% static "/images/slideshow_1.jpeg"%}')">
		<div class="scroller-bar">
			<div class="container-scroller">
				<img src="{% static 'images/logo.jpg' %}">
			</div>
			<div id="nav">
				<nav class="text-center">
					<ul class="list-items">
						<li>
							<a class='items' href="{% url 'messenger-file' %}" title="AboutUs">Về Chúng Tôi</a>
						</li>
						<li>
							<a class='items' href="{% url 'quyengop-file' %}" title="Food Savings">QUYÊN GÓP ĐỒ ĂN</a>
						</li>
						<li>
							<a class='items' href="{% url 'sell-file' %}" title="BOTTOMS">GIẢI CỨU NÔNG SẢN</a>
						</li>
						<li>
							<a class='items' href="{% url 'news-file' %}" title="NEWS">TIN NỔI BẬT</a>
						</li>
                        <li>
							<a class='items' href="{% url 'map-file' %}" title="Map">MAP LOCATE</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="index-right">
				<span class="account-links">
					<a href ="{% url 'login' %}">ĐĂNG NHẬP</a>
					<span>/</span>
					<a href ="{% url 'register-file' %}">ĐĂNG KÝ</a>
				</span>
                <span class="search">
					<a href ="#">Tìm Kiếm</a>
				</span>
				<span class="select-language">
					<select>
						<option value="en">EN</option>
						<option value="vi">VI</option>
					</select>
				</span>
			</div>
		</div>
	</div>
{#    <div class="iphoneSE">#}
{#        <div class="black-line-iphoneSE">#}
{#            <div class="message-iphoneSE">#}
{#                <span class="span1-iphoneSE">SS23 MINI COLLECTION</span>#}
{#                <span class="span2-iphoneSE">HADES™ 2023</span>#}
{#            </div>#}
{#        </div>#}
{#        <div class="display-logo-iphoneSE">#}
{#            <div class="img-container-1">#}
{#                <img src="{% static 'images/lgo.gif' %}">#}
{#            </div>#}
{#            <div class="img-container-2">#}
{#                <img src="{% static 'images/text.svg' %}">#}
{#            </div>#}
{#        </div>#}
{#        <div class="bar-line-iphoneSE">#}
{#            <i class="fa-solid fa-bars" style="color: #000000;"></i>#}
{#             <div class="">#}
{#                 <button class="menu-iphoneSE">#}
{#                    <div class="dropdown">#}
{#                        <a href="#">SHOP</a>#}
{#                        <a href="#">TOPS</a>#}
{#                        <a href="#">OUTERWEAR</a>#}
{#                    </div>#}
{#                 </button>#}
{#             </div>#}
{#              <i class="fa-regular fa-magnifying-glass" style="color: #000000;"></i>#}
{#              <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>#}
{#        </div>#}
{##}
{##}
{#    </div>#}
	<div class="overlay"></div>
	<div class="contain-all">
		<button class="close">
				<i class="fa-solid fa-xmark" style="color: #000000;"></i>
		</button>
		<div class="language-option">
				<select>
					<option value="en">EN</option>
					<option value="vi">VI</option>
				</select>
		</div>
		<div id="site-search" class="site-nav-container" tabindex="-1">
			<div class="site-nav-container-last">
				<p keylanguage="tim_kiem" class="title lang">Tìm kiếm</p>
				<div class="search-box wpo-wrapper-search">
					<form action="/search" class="searchform searchform-categoris ultimate-search">
						<div class="wpo-search-inner">
							<input keylanguage="tim_kiem_san_pham" required="" id="inputSearchAuto" name="q" maxlength="40" autocomplete="off" class="searchinput input-search search-input langplaceholder" type="text" size="20" placeholder="Tìm kiếm sản phẩm...">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
    {% block content %}

    {% endblock content %}
	<div class="its-font">
			<span class="text-animation">
				<h2><span>ZERO LEFTOVER - ZERO HUNGER</span>
					<span>ZERO LEFTOVER - ZERO HUNGER</span>
					<span>ZERO LEFTOVER - ZERO HUNGER</span>
					<span>ZERO LEFTOVER - ZERO HUNGER</span>

				</h2>
			</span>
	</div>
	<div class="icon-contact-left">
		<button class="left">
			<i class="fa-solid fa-comment-heart" style="color: #ff414a;"></i>
		</button>
	</div>
	<div class="icon-contact-right">
		<button class="right">
			<img src="{% static 'images/chat.png' %}">
                <a class='items' href="{% url 'map-file' %}" style="color:white; font-weight:900;width:100%">MAP LOCATE</a>
        </button>
	</div>
	<footer class="footer">
		<div class="container-inf-footer">
			<h4>Truyền thông</h4>
			<p style="margin-top:16px">VTV24 VIỆC TỬ TẾ</p>
			<p>BÁO THIẾU NIÊN</p>
			<p>BÁO NHÂN DÂN ĐIỆN TỬ</p>
			<p>VTV1 ĐÀI TRUYỀN HÌNH VIỆT NAM</p>
			<p>VTV3 CÀ PHÊ SÁNG</p>
			<p>VOV ĐÀI TIẾNG NÓI VIỆT NAM</p>
			<p>BÁO THANH NIÊN</p>
		</div>
		<div class="chinh-sach">
			<h4 class="footer-title lang" >Chính sách</h4>
				<ul>
					<li class="item">
						<a class="lang" href="" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
					</li>


					<li class="item">
						<a class="lang"  href="" title="Chính sách bảo mật thông tin người dùng">Chính sách bảo mật thông tin người dùng</a>
					</li>


					<li class="item">
						<a class="lang"  href="Chính sách giao dịch" title="Chính sách giao dịch">Chính sách giao dịch</a>
					</li>


					<li class="item">
						<a class="lang"  href="" title="Chính sách giao nhận - vận chuyển">Chính sách giao nhận - vận chuyển</a>
					</li>


					<li class="item">
						<a class="lang"  href="" title="Chính sách giải quyết khiếu nại">Chính sách giải quyết khiếu nại</a>
					</li>


					<li class="item">
						<a class="lang"  href="" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a>
					</li>


					<li class="item">
						<a class="lang"  href="" title="Chính sách đổi trả">Chính sách đổi trả</a>
					</li>

				</ul>
		</div>
		<div class="contact-in4">
			<h4 class="footer-title lang" >Liên lạc</h4>
				<ul>
					<li>
						<span class="lang">Địa điểm: Dự án đang được triển khai tại Thành phố Hồ Chí Minh</span>
					</li>
					<li>
						<span class="lang" >Số điện thoại: (+84) 947424796</span>
					</li>
					<li><span class="lang" >Email: zeroleftovervn@gmail.com</span></li>
					<li><span class="lang" >Website: zerolefftover.vn</span></li>
				</ul>
		</div>
    </footer>
    <div class="message">
    	<div class="footer-message">
    		<span style="color: green;">ZERO LEFTOVER</span>
    		<span>NexTech™ 2023</span>
    	</div>
    </div>
</body>
</html>